/*--------------Estilos basicos--------------------*/

* {margin: 0; padding: 0;}

html {
  height: 100%;
}

body {
  font-family: montserrat, arial, verdana;
    background-color: white; 
}


h4{
    font-size: 9px;
    text-align: justify;
    margin-left: 5px;    
}

h5{
    font-size: 10px;
    text-align: justify;
    padding: 5px;
}

h6{
    font-size: 10px;
    text-align: center;
   }
  
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/*---------botones---------------*/


.dropdown>button{
    background: white;
    padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: grey;
  font-size: 13px; 
    text-align: left;
    
}

.btn {
    width: 100%;
    align-content: center;
    margin: 0px;
    margin-top: 20px;
    background: #bdc3c7;
    border-radius: 5px;
    border: none;
    font-size: 14px;    
    
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}

.btn:hover{
    background-color:#73C6B6;
    color: white;
    
}

.btn-success{ 
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    background: #73C6B6;
    color: white;
    padding: 10px;
   }

.btn-info:hover{
    background-color:#bdc3c7;
    color: white;}

.btn-info:active{
    background-color:#bdc3c7;
    color: white;}

.btn1 {
    width: 30%;
    align-content: center;
    margin: 0px;
    margin-top: 20px;
    background: none;
    border-radius: 5px;
    border: none;
    font-size: 14px;    
    
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
}
.btn-default1{
    width: 20%;
    align-content: center;
    margin: 0px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;    
    
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;  
}

input[type="checkbox"]{ 
   width: inherit;
    height: inherit;
}

input[type="radio"]{ 
   width: auto;
}

input[type=text ],
input[type=password],
input[type=email],
input[type=number]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #73C6B6;

}



/*-------Cleidy-----*/
#boxshadow {
  position: relative;
  -moz-box-shadow:1px 2px 4px rgba(0, 0, 0. 0.5);
   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0. .5);
   box-shadow: 1px 2px 4px rgba(0, 0, 0. 0.5);
   padding: 50px;
   background: white;
   border: 2px;
}

#boxshadow img {
  width: 100%;
  border: 1px solid;
  border-style: inset;
}

#boxshadow::affter {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 15px 20px  rgba(0, 0, 0. 0.3);
  -moz-box-shadow:0 15px 20px rgba(0, 0, 0. 0.3);
   box-shadow: 0 15px 20px(0, 0, 0. 0.3);
   width: 100%;
   left: 25%;
   height: 100px;
   bottom: 0;
}
/****************************/
.formulario1 {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 50px 30px;
  box-sizing: border-box;
  width: 150%;
  margin: 0 10%;
  position:relative;
    height: max-content;
    overflow-y: auto;
}
.formulario2 {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 10%;
  position:relative;
    height: max-content;
    overflow-y: auto;
}
.formulario3 {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 50px 40px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 10%;
  position:relative;
    height: max-content;
    overflow-y: auto;
}
.banner{
  text-align: center;
  border-radius: 5px;
  position: relative;
   background-attachment:fixed; 
   width: 500px;
}
/********************************/
#boton :hover {
	text-decoration: none;
	
}

.btn .btn-default .navbar-btn .pull-right:hover {
	text-decoration: none;
	background-color: #73C6B6;
	border-radius: 6px;

}

.btn-active {
    text-decoration: none;
    background-color:#73C6B6;
    border-radius: 6px;
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

}

a{
  color: #5e6163;
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: none;
}

li > a {
  display: block;
  color: #5e6163;
  padding: 10px 15px;
  text-decoration: none;
}
.nav> li >a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #5e6163;
    background-color: #CACFD2;
}
/*-------Flecha de abajo-----*/
div.down-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.down-arrow {
    width: 20%;
}
/*-------fotos de usuario-----*/

.categories_area {
    padding: 40px 0 70px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_catagory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.single_catagory img {
    border-radius: 20px;
}

img.food-arrow{
  width: 80%;
  margin-right: 100px;
}

img.fooded-arrow{
  width: 80%;
  margin-left: 100px;
}

img.food-arrow-two{
  width: 40%;
  margin-right: 100px;
}

img.fooded-arrow-two{
  width: 55%;
  margin-left: 100px;
}


/* estrutura de los escritos */

.single-widget-area {
    margin-bottom: 50px;
}

.widget-title > h3 {
    background: #D1F2EB;
    height: 40px;
    width: 70%;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family:sans-serif;
     font-weight: bold;
}

.widgeted-title > h3 {
    background: #D1F2EB;
    height: 40px;
    width: 70%;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 110px;
    text-align: center;
    top: 30px;
    font-family:sans-serif;
    font-weight: bold;
}

.widgetede-title > h3 {
    background: #D1F2EB;
    height: 40px;
    width: 70%;
    line-height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 110px;
    text-align: center;
    bottom: 9px;
    font-family:sans-serif;
    font-weight: bold;
}




.about-me-widget p {
    color: #51545f;
    margin-left:80px;
    text-align:  justify;
    font-size: 18px;
    font-family:sans-serif;
}

.about-me-widget h3 {
    width: 80%;
    margin-left:90px;
    text-align: center;
    font-family:sans-serif;
}

.about-me-widgeted p {
    color: #51545f;
    margin-left:80px;
    text-align: justify;
    font-size:18px;
    font-family:sans-serif;
}

.about-me-widgetede p {
    color: #51545f;
    margin-right:70px;
    text-align: justify;
    font-size:18px;
    font-family:sans-serif;
}

.about-me-widgeted h3 {
    width: 80%;
    margin-right: 90px;
    text-align: center;
    font-family:sans-serif;
}



/****** CARUSEEL  *******/
.nav a small
{
 display: block;
}
.nav-justified > li > a
{
    border-radius: 10px;
  }
.nav-pills>li[data-slide-to="0"].active a { background-color: #45B39D; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #45B39D; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #48C9B0; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #48C9B0; }
.nav-pills>li[data-slide-to="4"].active a { background-color: #48C9B0; }

.logo{

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
   left: 0;
   right: 0;
   top: 10%;
   margin: 0 auto;
   z-index: 9999999;
   width: 50%;
}

/*************************/


  .nav-link {
    padding: 25px 30px;
    color: #232d37;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}


#myCarousel{

}

.carousel-inner{
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.item img {
  border-radius: 20px; 
}

.item .active>img{ 
 border-radius:20px;
}


.item>p {
  color:#17202A;
  }